<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (input)="buscarMedicos(input.value)" type="text" class="form-control" placeholder="Buscar Medico">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="clearfix">
                    <button (click)="mostrarModalMedico()" type="button" class="btn btn-primary btn-rounded pointer float-right"><i class="fa fa-plus"> </i> Nuevo Medico</button>
                </div>

                <h3 class="card-title">Medicos registrados ( <small>{{totalRegistros}}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Medico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos; let i = index">
                            <td class="w70">
                                <img (click)="mostrarModal(medico._id, medico.img)" class="img-50 img-circle pointer" [src]="medico.img | imagen: 'medicos'">
                            </td>
                            <td class="input-group mb-3">
                                <input [id]="'e'+ i" (blur)="outFocus(i)" [(ngModel)]="medico.nombre" disabled type="text" class="form-control"><button class="input-group-append btn btn-secondary" (click)="editName(i)"><i class="fa fa-pencil"></i></button>
                            </td>
                            <td>
                                <select [(ngModel)]="medico.hospital" name="hospital" class="form-control">
                                    <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                                </select>
                            </td>
                            <td>
                                <button (click)="guardarMedico(medico)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                                <button (click)="borrarMedico(medico)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>